@import url("https://fonts.googleapis.com/css?family=Cormorant+SC|Montserrat+Subrayada|Raleway");

.homePageTransition-appear{
  opacity: 0;
}

.homePageTransition-appear.homePageTransition-appear-active{
  opacity: 1;
  transition: all .5s ease-in-out;
}

div.homeDiv {
  margin-top: 275px;
}

h3.home {
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: black;
  margin: auto;
  width: 45%;
}

h1.home {
  color: black;
  font-family: 'Montserrat Subrayada', serif;
  text-align: center;
}

h1.home span:hover {
  -webkit-animation: colorChange 5s infinite; /* Safari 4+ */
  -moz-animation:    colorChange 5s infinite; /* Fx 5+ */
  -o-animation:      colorChange 5s infinite; /* Opera 12+ */
  animation:         colorChange 5s infinite; /* IE 10+, Fx 29+ */
}

span {
  background-color: white;
}
