html, body {
  background-color: black;
}
nav {
  font-family: Quicksand !important;
}
a.navbar-brand {
  color: white !important;
  font-family: Charm, cursive;
}
a.navbar-brand:hover {
  color: grey !important;
  text-decoration: line-through;
}
.Landing-grid {
  text-align: center;
}
.social-links {
  display: flex;
  margin: auto;
  justify-content: center;
}
.social-links i {
  font-size: 2em;
  padding: 5px;
}
.Quicksand {
  font-family: 'Quicksand';
}
.cursive {
  font-family: 'Charm', cursive;
  font-style: italic;
}
.jumbotron {
  text-align: center;
  background-color: black;
  color: white;
}
a:hover {
  color: grey;
  text-decoration: none;
}
