html, body {
  background-color: black;
}
nav {
  font-family: Quicksand !important;
}
a.navbar-brand {
  color: white !important;
  font-family: Charm, cursive;
}
a.navbar-brand:hover {
  color: cyan !important;
  font-size: 19px;
}
.cardBody {
  display: inline;
  justify-content: center;
}
.Landing-grid {
  text-align: center;
}
.social-links {
  display: flex;
  margin: auto;
  justify-content: center;
}
.social-links i {
  font-size: 2em;
  padding: 5px;
}
.Quicksand {
  font-family: 'Quicksand';
}
.cursive {
  font-family: 'Charm', cursive;
  font-style: italic;
}
.jumbotron {
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 15%;
}
.tabs {
  color: white !important;
  margin-top: 2%;
}
.card {
  margin: 1%;
  display: inline-block;
}
@@keyframes colorChange {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}
@-webkit-keyframes colorChange {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}
@-moz-keyframes colorChange {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}
@-o-keyframes colorChange {
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  100% {color: green;}
}
a {
  color: white !important;
  font-size: 15px;
}
a:hover {
  text-decoration: none;
  font-size: 16px;
  -webkit-animation: colorChange 5s infinite; /* Safari 4+ */
  -moz-animation:    colorChange 5s infinite; /* Fx 5+ */
  -o-animation:      colorChange 5s infinite; /* Opera 12+ */
  animation:         colorChange 5s infinite; /* IE 10+, Fx 29+ */
}
