html, body {
  background-color: black;
}
nav {
  font-family: Quicksand !important;
}
a.navbar-brand {
  color: white !important;
  font-family: Charm, cursive;
}
a.navbar-brand:hover {
  color: grey !important;
}
.Landing-grid {
  text-align: center;
}
.social-links {
  display: flex;
  margin: auto;
  justify-content: center;
}
.social-links i {
  font-size: 2em;
  padding: 5px;
}
.Quicksand {
  font-family: 'Quicksand';
}
.cursive {
  font-family: 'Charm', cursive;
  font-style: italic;
}
.jumbotron {
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 15%;
}
.tabs {
  color: white !important;
  margin-top: 2%;
}
.card {
  margin: 1%;
  display: inline-block;
}
a {
  color: white !important;
}
a:hover {
  color: cyan !important;
  text-decoration: none;
}
