.homeTransition-appear{
  opacity: 0;
}

.homeTransition-appear.homeTransition-appear-active{
  opacity: 1;
  transition: all .5s ease-in-out;
}
.aboutMeTransition-appear{
  opacity: 0;
}

.aboutMeTransition-appear.aboutMeTransition-appear-active{
  opacity: 1;
  transition: all .5s ease-in-out;
}
.contactTransition-appear{
  opacity: 0;
}

.contactTransition-appear.contactTransition-appear-active{
  opacity: 1;
  transition: all .5s ease-in-out;
}
.landingPageTransition-appear{
  opacity: 0;
}

.landingPageTransition-appear.landingPageTransition-appear-active{
  opacity: 1;
  transition: all .5s ease-in-out;
}
.projectsTransition-appear{
  opacity: 0;
}

.projectsTransition-appear.projectsTransition-appear-active{
  opacity: 1;
  transition: all .5s ease-in-out;
}
.resumeTransition-appear{
  opacity: 0;
}

.resumeTransition-appear.resumeTransition-appear-active{
  opacity: 1;
  transition: all .5s ease-in-out;
}
